
body {
    margin:0;
    padding:0;
    background-color:#fbf9ef;
}
a, a:hover, a:visited {
    color: #0071bc;
}

.content{
    position:relative;
    color:#fbf9ef;
    overflow:hidden;
    margin-bottom: 20px;
    width: 45vw;
    max-width: 650px;
    min-width: 260px;
    margin: 0 auto;
}

.story-container{
    margin-top: 10vh
}

.chart-container{
    margin-top:3vh;
    margin-bottom:3vh;
}
#map {
    top:0;
    height: 100vh;
    width:100vw;
    position: sticky;
}
#mapInset {
    bottom:50px;
    right:30px;
    height: 180px;
    width:250px;
    max-width:100%;
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}
#mapInset .mapboxgl-ctrl-bottom-left{
    display: none;
}
@media (max-width: 500px) {
    #mapInset {
        display: none;
    }
}

h1{
    font-family: 'Poltawski Nowy', 'Open Sans', 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight:800;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color:#42280e;
}

h2{
    font-family: 'Merriweather','Open Sans', 'Times New Roman', Times, serif;
    font-size: 35 px;
    /* line-height: 40 px; */
    font-weight: 200;
    /* font-style: italic; */
    color:#42280e;
    text-align:center
}

.byline p{
    font-family: 'Roboto', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 22px;
    color:  #191510;
    margin-bottom: 2 px;
    text-align: center;
    margin-top: 3vh
}

h3{
    font-family: 'Merriweather','Open Sans', 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 40 px;
    font-weight: 600;
    /* font-style: italic; */
    color:#42280e;
    text-align:left;
    margin-top: 6vh
}

p {
    font-family:  'Merriweather', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: light;
    font-weight: light;
    letter-spacing: normal;
    line-height: 170%;
    color:  #42280e;
    margin-bottom: 2 px;
    overflow:hidden;
}

h4{
	font-family:  'Roboto', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 22px;
    color:  #6d441b;

 }

 figcaption {
    font-family: 'Cormorant Garamond', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 16px;
    font-style: light;
    font-weight: light;
    letter-spacing: normal;
    line-height: 20px;
    color:  #42280e;
    margin-top: 2px;
	text-align: center;
  }

 #data-diary{
    border-top: 1px solid #6d441b;
    margin-bottom: 50px;
 }
#data-diary p{
    font-family: 'Roboto', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: normal;
    line-height: 22px;
    color:  #6d441b;
    margin-bottom: 2 px;

  }

  .media-container{
    display: flex;
    justify-content: center;
    /* padding: 0 3vh ; */
    width: 45vw; 
    margin-top:4vh; 
    min-width: 260px;
}

 .media-container img{
    justify-content: center;
    object-fit: contain;
    width: 45vw;
    max-width: 650px;
    min-width: 280px;
    max-height: auto;
}
.street-container{
    display:flex;
    flex-wrap: wrap;
    width:70vw;
    margin:2vh auto 0 auto;
    justify-content: space-around;
}

.child img{
    width:500px
}
#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.hidden {
    visibility: hidden;
}
.centered {
    width: 100%;
    margin: 0 auto;
    /* min-width: 260px; */
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 50vw;
    margin-left: 40vw;
}
.fully {
    width: 100%;
    margin: auto;
}
.light {
    color: #444;
    background-color:#fbf9ef00;
    padding: 0 10vw;
    /* min-width: 260px; */
}

.light div div{
    color: #444;
    background-color:#fbf9efcf;
    padding: 2vh 5vw;
    margin: 2vh 20vw;
    

}

.light div div p {
    max-width:650px;
    margin-left: auto;
    margin-right:auto
}

.light div img{
    width:100%;
    margin-left: auto;
    margin-right:auto;
    margin-top:2vh;
    min-width: 260px;
    

}

.dark {
    color: #fafafa;
    background-color: #444;
}
.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.2;
    /* min-width: 260px; */
}

#full-page .light, #full-page-2 .light{
    color: #444;
    background-color:#fbf9ef;
    opacity: 100%;
}

#full-page img{
    width:55% !important;
    display:block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow: overlay
}
.step.active {
    opacity: 0.99;
}

.step div {
    padding: 5vh 5vw;
    /* min-width: 260px; */
    /* line-height: 25px;
    font-size: 13px; */
    /* background-color:#fbf9ef; */
}
#full-page .light div p {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

#full-page .light div h3 {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

}

#full-page-2 .light div{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

}
.step img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 260px;
}

#holc{
 color:rgb(104, 97, 97);
 font-family: monospace, Times, serif;
}

@media (max-width: 750px) {
    .centered, .lefty, .righty {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

/* Mobile CSS Setup */
	#g-demographic-middle, #g-demographic-mobile, #g-demographic-desktop, #g-median-household-income-desktop, #g-median-household-income-mobile, #g-redhook-neighborhood-map-desktop, #g-redhook-neighborhood-map-Artboard_2, #g-current-redhook-map-desktop, #g-current-redhook-map-mobile  {
		display: none;
	}
/* mobile */
	@media (max-width: 490px) {
		#g-demographic-mobile {
			display: block;
		}
		#g-median-household-income-mobile {
			display: block;
		}
        #g-redhook-neighborhood-map-Artboard_2{
            display:block;
        }
        #g-current-redhook-map-mobile{
            display:block;
        }
	}
/* desktop*/
    @media (min-width: 490px) and (max-width: 900px) {
		#g-demographic-middle {
			display: block;
		}
		#g-median-household-income-mobile {
			display: block;
		}
        #g-redhook-neighborhood-map-Artboard_2{
            display:block;
        }
        #g-current-redhook-map-mobile{
            display:block;
        }
	}
 /* large */
 @media (min-width: 900px)  {
    #g-demographic-desktop {
        display: block;
    }
    #g-median-household-income-desktop {
        display: block;
    }
    #g-redhook-neighborhood-map-desktop{
        display:block;
    }
    #g-current-redhook-map-desktop{
        display:block;
    }
}


